<h3>Agregar dato</h3>

<div mat-dialog-content>
    <form [formGroup]="datoForm">
        <mat-form-field appearance="outline">
            <mat-label>Intruzca un nombre</mat-label>
            <input formControlName="name" matInput placeholder="Nombre">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Intruzca el peso</mat-label>
            <input formControlName="weight" matInput placeholder="weight" type="number">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Intruzca el simbolo</mat-label>
            <input formControlName="symbol" matInput placeholder="Symbol">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions [align]="'end'">
    <button mat-flat-button color="primary" class="boton" (click)="addElement()">Agregar</button>
    <button mat-flat-button color="accent" mat-dialog-close>Cancelar</button>
</div>