:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boton {
  margin-right: 20px;
}

.botonCancelar {
  color: rgb(0, 0, 0)
}

.mat-form-field {
  width: 100%;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}