<div class="container">
    <mat-toolbar>
        <span class="prueba">Tabla</span><br>

        <!-- Boton de agregar -->
        <div class="centralo">
            <button mat-flat-button mat-raised-button color="warn" (click)="openDialog('500ms', '200ms')">Agregar
                valor</button>
        </div>

    </mat-toolbar>

    <div class="mat-elevation-z8" *ngIf="ELEMENT_DATA.length > 0">

        <!-- Filtro -->
        <mat-form-field appearance="standard">
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese un valor" #input autocomplete="off">
        </mat-form-field>
        <mat-divider></mat-divider>

        <!-- Tabla -->
        <table mat-table [dataSource]="dataSource" matSort>

            <!-- Columnas -->
            <!-- Position Column -->
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Simbolo </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <!-- Botones -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                    <!-- Editar -->
                    <a class="pointer botonEditar" mat-flat-button matTooltip="Editar"
                        (click)="openDialog('500ms', '200ms')">
                        <mat-icon>edit</mat-icon>
                    </a>
                    <!-- Eliminar -->
                    <a class="pointer botonEliminar" mat-flat-button (click)="eliminar(i)" matTooltip="Eliminar">
                        <mat-icon>delete</mat-icon>
                    </a>
                </td>
            </ng-container>

            <!-- Hay que revisar esto -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <!-- Mensaje que aparecera cuendo no se encuentren datos en la busqueda -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron coincidencias con: "{{input.value}}"</td>
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <h2 *ngIf="ELEMENT_DATA.length == 0" style="text-align: center;">No hay datos </h2>
</div>