<h1>{{ "Hola mundo" | titlecase }}</h1>

<!-- <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Generacion de las columnas -->
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
                {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
                {{column.cell(row)}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Mensaje que aparecera cuendo no se encuentren datos en la busqueda -->
        <tr class="mat-row" *matNoDataRow>
            <!-- <td class="mat-cell" colspan="4">No se encontraron conincidencias con: "{{input.value}}"</td> -->
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>