.u-section-2 {
    background-image: url(https://images8.alphacoders.com/632/632051.png);
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100%;
}
